html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a,
input,
button,
textarea {
  outline: transparent;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  appearance: none;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

body {
  min-height: 100vh;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Source Serif 4', serif;
  /* font-family: 'Open Sans', sans-serif; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #242424;
  background-color: #fff;
}

.wrapper {
  overflow-x: hidden;
}

.container-top {
  max-width: 1520px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.section {
  padding: 40px 0;
}

.grey {
  background-color: #F8F8F8;
}

.mixitup-control-active {
  color: #2352DE;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: -0.3px;
}

.subtitle {
  margin-bottom: 30px;
  margin-top: 30px;
}

.animation {
  border-radius: 3px;
  text-decoration: underline transparent;
  transition: box-shadow 0.5s, text-decoration 0.5s, opacity 0.5s;
}

.animation:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.animation:hover {
  text-decoration: underline;
}

.animation:active {
  opacity: 0.7;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.002);
  box-shadow: inset 0 0 0 1px #067A46;
  border-radius: 4px;
  color: #067A46;
  padding: 10px 30px;
  transition: box-shadow 0.5s, color 0.5s, background-color 0.5s;
}

.btn:focus {
  box-shadow: 0 0 0 3px rgba(6, 127, 34, 0.909);
}

.btn:hover {
  background-color: #067A46;
  border-color: #067A46;
  color: #fff;
}

.btn:active {
  box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
  background-color: #067A46;
  color: #fff;
}

.btn--green{
  background-color: #067A46;
  border-color: #067A46;
  color: #fff;
  padding: 12px 24px;
  transition: box-shadow 0.5s, color 0.5s, background-color 0.5s;
}
.btn--green:focus {
  box-shadow: 0 0 0 3px rgba(6, 127, 34, 0.909);
}

.btn--green:hover {
  background-color: #fff;
  border-color: #067A46;
  color: #067A46;
}

.btn--green:active {
  box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
  background-color: #067A46;
  color: #fff;
}

.link{
  color: #2352DE;
  text-decoration: underline;
}
.link:hover{
  text-decoration: underline transparent;
  color: rgba(7, 51, 183, 0.7);
}

.header {
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
  /* height: 100vh; */
  z-index: 1;
  font-weight: 600;
  position: relative;
  padding-top: 80px;
}

/* 
.header::before {
  content: "";
  position: absolute;
  background-color: rgba(35, 82, 222, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
} */

.header__top {
  position: fixed;
  z-index: 99;
  padding-top: 75px;
  left: 0;
  right: 0;
  top: 0;
  transition: all 0.5s;
}

.header__top--bg {
  background-color: rgb(91, 231, 103);
  padding: 5px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.menu__box{
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 35px;
  position: relative;
  z-index: 1;
  transition: box-shadow 0.5s, opacity 0.5s;
}

.logo:focus {
  box-shadow: 0 0 0 3px #2352de;
}

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.5;
}

.menu__button {
  display: none;
  position: relative;
  z-index: 1;
  width: 44px;
  height: 44px;
  border-radius: 3px;
  transition: background-color 0.5s;
}

.menu__btn {
  display: none;
  height: 2px;
  background-color: #fff;
  width: 30px;
  position: relative;
  margin: 0 auto;
}

.menu__btn::before,
.menu__btn::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 30px;
  left: 0;
  right: 0;
}

.menu__btn::before {
  top: 10px;
}

.menu__btn::after {
  top: -10px;
}

.menu__list {
  display: flex;
  align-items: center;
  transition: all 1s;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.header__content {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 127px); */
  justify-content: space-between;
  align-items: center;
  color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  margin-bottom: 15px;
}

.header__inner{
  display: flex;
    align-items: center;
}
.logo__content img{
  display: inline-block;
  width: 250px;
  border-right: 2px solid #000;
  padding-right: 35px;
}
.header__title {
  font-weight: 700;
  font-size: 32px;
  margin: auto 0;
}
.header__subtitle{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 37px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.header__subtitle:first-child{
  padding-top: 125px;
}

.header__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #343434;
  margin-bottom: 30px;
}
.header .btn--green{
  margin-bottom: 30px;
}
.header__link {
  margin: 0 auto;
  padding-bottom: 30px;
  background-image: url('../images/header-arrow.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
}
.about{
  padding: 40px 0;
  border-bottom: 1px solid #E4E4E4;
}
.about__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.about__list{
  /* height: 260px; */
  position: relative;
}
.about__list::before{
  content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
}

.about__list--1::before {
  background-image: url('../images/about-1.svg');
}
.about__list--2::before {
  background-image: url('../images/about-2.svg');
}
.about__list--3::before {
  background-image: url('../images/about-3.svg');
}
.about__list--4::before {
  background-image: url('../images/about-4.svg');
}
.about__list h6{
  padding-top: 178px;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 16px;
  line-height: 2;
}
.about__list p{
  padding: 0 30px;
}
.about button{
  margin: 0 auto;
  display: block;
}
.box{
  margin-bottom: 40px;
  border-bottom: 1px solid #E4E4E4;
}
.box__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box__list{
  max-width: 460px;
}
.box__item:not(:last-child){
  margin-bottom: 10px;
}
.box__items{
  margin-bottom: 50px;
}
.box button {
  margin: 0 auto;
  display: block;
  width: 100%;
}
.box__text--accent{
  color: #067A46;
  text-decoration: underline;
}
.box li::marker{
  content: "✓";
}

.recipes{
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #E4E4E4;
}
.recipes__text,
.tag__text,
.plans__text{
  line-height: 1.25;
  margin-bottom: 25px;
}
.slider{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 262px;
  height: 315px;
  margin: 0 10px;
}

.recipes-slider__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 60px 50px 60px;
}

.arrow {
  position: absolute;
  bottom: 38%;
  left: -7%;
  transform: rotateZ(90deg);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow--next {
  transform: rotateZ(270deg);
  left: 100%;
}

.arrow:focus,
.arrow:hover,
.arrow:active {
  background-color: #bcf1d4;
  border: 1px solid #067A46;
  filter: drop-shadow(0 0 3x rgba(138, 201, 168, 0.637));
}

.arrow:focus path,
.arrow:hover path,
.arrow:active path {
  stroke: #067A46;
}
.slider__title{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 23px;
  line-height: 1.4;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  text-align: start;
  padding-left: 12px;
  position: absolute;
  bottom: 20px;
  align-items: center;
}
.slider__text{
  display: table-cell;
  padding: 0 8px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.8;
  border-radius: 3px;
}
.slider__text--yellow{
  background-color: #FFCF70;
  color: #242424;
}
.slider__text--green{
  background-color: #476B2D;
}
.slider__text--grey{
  background-color: #37938A;
}
.tag{
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #E4E4E4;
}

.tag__items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag__item:not(:last-child) {
  margin-right: 30px;
}
.tag__item{
  max-width: 260px;
  height: 560px;
}
.tag__img{
  margin-bottom: 30px;
}
.tag__title{
  margin-bottom: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: -0.3px;
}
.tag__description{
  max-width: 200px;
  margin: 0 auto;
}
.plans{
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #E4E4E4;
}
.plans__inner{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 80px;
}
.plans__btn{
  margin-bottom: 40px;
}
.questions{
  border-bottom: 1px solid #E4E4E4;
}
.container-spec {
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}

.collapsible {
  position: relative;
  cursor: pointer;
  padding-left: 60px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-bottom: 20px;
}

.collapsible:after {
  content: "";
  position: absolute;
  top: -11px;
  left: 0;
  background-image: url(../images/span.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 40px;
}

.active:after {
  content: "";
    position: absolute;
    top: -11px;
    left: 0;
    background-image: url(../images/span.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    transform: rotateZ(180deg);
}

.content {
  padding: 20 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 15px;
}
.footer{
  padding-top: 50px;
}
.footer-line{
  border-bottom: 1px solid #E4E4E4;
}
.footer-top{
  margin-bottom: 50px;
    
}
.footer-top__inner{
  display: flex;
  justify-content: space-between;
}
.footer-top__items{
  display: flex;
  justify-content: space-between;
}
.footer-top__item{
  max-width: 200px;
}
.footer-top__item:not(:last-child){
  margin-right: 60px;
}
.footer-top__title{
  font-weight: 600;
  margin-bottom: 12px;
}
.footer-top__link,
.footer-bottom__privacy-link{
  color: #067A46;
  font-size: 14px;
}
.footer-top__link:not(:last-child){
  margin-bottom: 5px;
}
.footer-top__link:focus,
.footer-top__link:hover,
.footer-top__link:active {
  color: #242424;
  text-decoration: underline;
}
.footer-bottom__privacy-link:focus,
.footer-bottom__privacy-link:hover,
.footer-bottom__privacy-link:active {
  color: #242424;
  text-decoration: underline;
}
.footer-top__app-link{
  color: #056835;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 15px;
  display: block;
}
.footer-top__app-link:focus,
.footer-top__app-link:hover,
.footer-top__app-link:active {
  color: #242424;
  text-decoration: underline;
}
.footer-bottom{
  padding: 30px 0;
}
.footer-bottom__inner,
.footer-bottom__privacy{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom__privacy-text{
  margin-right: 65px;
}
.footer-bottom__privacy-items{
  display: flex;
}
.footer-bottom__privacy-item:not(:last-child){
  margin-right: 25px;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: block;
  height: 44px;
  width: 44px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  transition: box-shadow 0.5s, opacity 0.5s;
}

.social__link:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.social__link:hover {
  opacity: 0.7;
}

.social__link:active {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1100px) {
  .about__list::before{
    width: 80px;
    height: 80px;
  }
  .about__list h6{
    font-size: 12px;
  }
  .about__list p{
    font-size: 12px;
  }
  .box__inner{
    flex-direction: column;
  }
  .box__inner img{
    margin-bottom: 25px;
  }
}

@media (max-width: 992px) {
  body.lock {
    overflow-y: hidden;
  }

  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(91, 231, 103);
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(-200%);
    transition: transform 0.5s;
    height: 100vh;
    overflow-y: auto;
    padding: 90px 0 90px;
    z-index: 0;
  }

  .menu__link {
    display: block;
    width: 100vh;
    padding-top: 11px;
    padding-bottom: 11px;
    transition: background-color 0.5s;
  }

  .menu__link:active,
  .menu__link:focus,
  .menu__link:hover {
    background-color: rgba(35, 82, 222, 0.7);
    text-decoration: underline transparent;
    border: transparent;
    box-shadow: none;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .header__top {
    padding-top: 5px;
  }

  .menu__button,
  .menu__btn {
    display: block;
  }

  .menu__button:active {
    background-color: #FFFFFF;
    opacity: 0.1;
  }

  .header__top.header__top--active .menu__list {
    transform: translateY(0);
  }

  .header__top.header__top--active .menu__btn {
    background-color: transparent;
  }

  .header__top.header__top--active .menu__btn::before {
    top: 50%;
    left: 16px;
    transform: translate(-50%, 0%) rotate(45deg);
  }

  .header__top.header__top--active .menu__btn::after {
    transform: translate(50%, 0%) rotate(-45deg);
    top: 50%;
    left: -14px;
  }

  .section {
    padding: 100px 0;
    text-align: center;
  }

  .title {
    margin-bottom: 40px;
  }
  .box__text{
    text-align: start;
  }
  .arrow{
    bottom: -31%;
    left: 28%;
  }
    .arrow--next {
      bottom: -31%;
      left: 63%;
    }
}

@media (max-width: 900px){
  .about__inner{
    flex-wrap: wrap;
  }
  
  .footer-top__item,
  .footer-top__item:not(:last-child){
    margin-right: 25px;
  }
  .footer-bottom__inner{
    flex-direction: column;
  }
  .footer-bottom__privacy{
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .logo__img {
    max-width: 110px;
  }

  .header__title {
    font-size: 65px;
  }

  .section {
    padding: 50px 0;
  }
  
  .about__inner,
  .tag__items,
  .footer-top__inner{
    flex-direction: column;
  }
  .footer-top__items{
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .header__title {
    font-size: 40px;
  }

  .header__text {
    font-size: 16px;
  }

  .header__link {
    font-size: 14px;
    line-height: 19px;
  }

  .title {
    font-size: 28px;
  }

  .title::before {
    border-bottom-width: 10px;
  }

  .logo__img {
    padding: 2px 0;
  }

  .footer {
    padding: 27px 0;
  }
  
  .footer-top__items {
    flex-direction: column;
  }
  .footer-top__item:not(:last-child){
    margin-bottom: 25px;
  }
  .footer-bottom__privacy {
    flex-direction: column-reverse;
  }
  .footer-bottom__privacy-items{
    margin-bottom: 25px;
  }
  .footer-bottom__privacy-text{
    margin-right: 0;
  }
}

@media (max-width: 420px){
  .footer-bottom__privacy-items{
    flex-direction: column;
    text-align: center;
  }
  .footer-bottom__privacy-item:not(:last-child){
    margin-right: 0;
  }
}

@media screen and (min-width:375px) and (max-width:920px) and (orientation: landscape) {

  .header__title {
    max-width: 100%;
    padding-top: 0;
    font-size: 40px;
  }

  .header__text {
    display: block;
  }

  .logo__img {
    max-width: 110px;
  }
}

@media screen and (min-width:279px) and (max-width:374px) {
  .header__title {
    font-size: 30px;
  }
}